/* Estilos para el diseño básico de la tienda 222 */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: aliceblue;
}
.admin-icon {
  align-self: flex-end; /* Posición en la esquina superior derecha */
  margin: 10px; /* Espaciado del icono con respecto al borde */
  font-size: 60px;
  color: black;
  width: 20px;
  cursor: pointer;
  margin-top: -2px;
}

/* Destello  */
.destello {
  animation: colorChange 5s infinite;
  -webkit-animation: colorChange 5s infinite;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
}

@keyframes colorChange {
  0%,
  100% {
    color: white;
  }
  50% {
    color: red;
  }
}

.texto {
  margin: 0;
  padding: 0%;
  color: black;
  background-color: white;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  color: black;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  margin-top: -30px;
}

/* BOTON PRODUCTOS */
.productos-desplegables {
  /* Tus estilos actuales */
}

.enlaces-importantes button {
  /* Tus estilos actuales */
}

.enlaces-importantes button:hover {
  /* Tus estilos actuales */
}

.enlaces-importantes a {
  /* Tus estilos actuales */
}

/* Seccion de contacto lo ultimo */
.seccion-contacto {
  /* Tus estilos actuales */
}

.contacto-info h2 {
  /* Tus estilos actuales */
}

.enlaces-importantes a {
  /* Tus estilos actuales */
}

.enlaces-importantes a:hover {
  /* Tus estilos actuales */
}

.secpro {
  /* Tus estilos actuales */
}

.produdes {
  /* Tus estilos actuales */
}

/* Estilos para los contenedores de productos */
#sacoProducts,
#camisaProducts,
#mugsProducts,
#papeleriaProducts,
#bisuteriaProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
  max-width: 1200px;
}

/* Ajustar el estilo de las CATEGORIAS*/
.productCard {
  border: 1px solid forestgreen;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  display: flex;
  /*Cambioimportante*/
  flex-direction: column;
  /*Cambioimportante*/
  align-items: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.productCard img {
  max-width: 80%;
  height: auto;
  object-fit: cover;
  width: 700px; /* Ajusta el ancho deseado */
  height: 300px;
  object-fit: cover;
}

.productCard img {
  max-width: 104%; /* El ancho máximo será el 100% del contenedor */
  height: 102%; /* La altura se ajustará automáticamente */
  object-fit: cover;
}

.productCard h3 {
  margin: 10px 0;
  color: black;
  font-size: 11spx;
}

.product-price {
}

.despliegue {
  position: fixed;
  margin-top: -220px;
}
/* Estilos para las secciones de categorías */
.sacos,
.camisas,
.mugs,
.toallas,
.indumentaria,
.chaleco,
.papeleria,
.bisuteria {
  text-align: center;
  color: white;
  background-color: green;
  padding: 2px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid red;
}

/* Estilos para la barra lateral */
#sidebar {
  /* Tus estilos actuales */
}

#sidebarToggleBtn {
  /* Tus estilos actuales */
}

/* Estilos para el botón de WhatsApp */
/* Estilo del botón de WhatsApp */
.whatsapp-btn {
  position: fixed;
  font-size: 90px;
  /*Tamañodefuentemásgrande*/
  width: 80px;
  /*Anchodelbotón*/
  height: 80px;
  /*Alturadelbotón*/
  right: 20px;
  /*Alineadoaladerecha*/
  bottom: 20px;
  /*CambiaelcolordefondoaverdedeWhatsApp*/
  border-radius: 50%;
  /*Haceelbotóncircular*/ /*Colordelícono*/
  text-align: center;
  /*Centraelíconoverticalmente*/
  line-height: 80px;
  /*Centraelíconoverticalmente*/
  z-index: 9999;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
}

/* Ajustar el botón en pantallas más pequeñas */
@media (max-width: 768px) {
  .whatsapp-btn {
    width: 60px; /* Ancho reducido para pantallas pequeñas */
    height: 60px; /* Altura reducida para pantallas pequeñas */
    font-size: 30px; /* Tamaño de fuente reducido para pantallas pequeñas */
    right: 10px; /* Alineado a la derecha */
    bottom: 10px; /* Alineado en la parte inferior */
    line-height: 60px; /* Centra el ícono verticalmente */
  }
}

.whatsapp-link {
  display: inline-block;
  padding: 10px 20px;
  color: green;

  font-size: 70px;
  /*Aquíyaestásestableciendoeltamaño*/
  text-decoration: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Boton de whasapp 222222222222 */
.whatsapp-btn-top {
  position: fixed;
  font-size: 40px;
  /*Tamañodefuente*/
  width: 80px;
  /*Anchodelbotón*/
  height: 80px;
  /*Alturadelbotón*/
  right: 20px;
  /*Alineadoaladerecha*/
  top: 20px;
  /*Alineadoenlapartesuperior*/
  /*CambiaelcolordefondoaverdedeWhatsApp*/
  border-radius: 50%;
  /*Haceelbotóncircular*/
  /*Colordelícono*/
  text-align: center;
  /*Centraelíconoverticalmente*/
  line-height: 80px;
  /*Centraelíconoverticalmente*/
  z-index: 9999;
  cursor: pointer;
  margin-top: 440px;
}

/* Ajustar el botón en pantallas más pequeñas */
@media (max-width: 768px) {
  .whatsapp-btn-top {
    width: 60px; /* Ancho reducido para pantallas pequeñas */
    height: 60px; /* Altura reducida para pantallas pequeñas */
    font-size: 30px; /* Tamaño de fuente reducido para pantallas pequeñas */
    right: 10px; /* Alineado a la derecha */
    top: 10px; /* Alineado en la parte superior */
    line-height: 60px; /* Centra el ícono verticalmente */
  }
}

/* Seccion de contacto lo ultimo */
.seccion-contacto {
  margin: 0;
  padding: 0;
  margin-top: 200px;
  background-color: black;
  color: white;
  padding: 20px;
}

.contacto-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.enlaces-importantes a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.enlaces-importantes a:hover {
  text-decoration: underline;
}
.seccion {
  text-align: center;
  font-size: 20px;
}

/* Estilos para el botón de despliegue */

/* Estilos para el menú desplegable */
.productos-desplegables {
  display: none;
  top: -400px;
  left: 0;
  background-color: #007bff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  width: 200px;
  z-index: 1;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-top: 65px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  -webkit-transition: opacity 0.3s ease, transform 0.3s ease;
  -moz-transition: opacity 0.3s ease, transform 0.3s ease;
  -ms-transition: opacity 0.3s ease, transform 0.3s ease;
  -o-transition: opacity 0.3s ease, transform 0.3s ease;
}

.despliegue:hover .productos-desplegables {
  display: block;
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.productos-desplegables a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.productos-desplegables a:hover {
  background-color: #007bff;
}

/* BOTON INICIO DE RETOCEDER */
.button-container {
  margin-top: 20px;
}

/* BTON DE INICIO  */
.button {
  text-align: center;
  padding: 10px 20px;
  background-color: red;
  /*Cambiaelcolordefondoatupreferencia*/
  color: white;
  /*Cambiaelcolordeltextoatupreferencia*/
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 25px;
  width: 20%;
  cursor: pointer;
  position: fixed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Ocultar secciones */
/* Agrega una clase de ocultar para la sección de desayunos sorpresa */
.desayunos-sorpresa {
  display: none;
}

/* Despñiegue dos */

/* Estilos para el botón de despliegue */

/* Estilos para el menú desplegable */

/* Estilos para el botón de despliegue */
#productos-btn3 {
  width: 50%;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  position: fixed;
  font-size: 20px;
  padding: 10px 20px;
  height: 11%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  /*Agregamosunatransiciónsuave*/
  border-radius: 20px;
}

#productos-btn3:hover {
  background-color: #44cc44;
  transform: translateX(-50%) translateY(-2px) rotateX(5deg);
}

/* Estilos para el menú desplegable */
.productos-desplegables2 {
  display: none;
  position: fixed;
  top: 66px;
  left: 45%;
  transform: translateX(-50%);
  background-color: black;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  width: 200px;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  -webkit-transition: opacity 0.3s ease, transform 0.3s ease;
  -moz-transition: opacity 0.3s ease, transform 0.3s ease;
  -ms-transition: opacity 0.3s ease, transform 0.3s ease;
  -o-transition: opacity 0.3s ease, transform 0.3s ease;
}

.despliegue2:hover .productos-desplegables2 {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* Ajustar el tiempo de espera antes de ocultar */
.productos-desplegables2:hover {
  display: block;
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.productos-desplegables2 a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
}

.productos-desplegables2 a:hover {
  background-color: #007bff;
}

/* Seccion de imaje para ampliar la imagen*/

.productCard img {
  width: 100%;
  height: 100%;
  object-fit: auto;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.productCard:hover img {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
}

/* EFECTO DE ZOOM PARA LAS IMAGENES HACIENDO CLICK */
.zoomed-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}

.zoomed-image.zoom-in {
  transform: scale(3);
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
}

@media (max-width: 767px) {
  .zoomed-image.zoom-in {
    transform: scale(4);
    -webkit-transform: scale(4);
    -moz-transform: scale(4);
    -ms-transform: scale(4);
    -o-transform: scale(4);
  }
}

/* Cerrar la imagen con una x al ampliarce  */
/* Estilo para el botón de cerrar */

/* BOTON WHASTAPP 2 */
