body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0056b3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  border: 2px solid black;
}

.iniciar {
  color: white;
  margin-top: -45px;
}

.login-container {
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 120px;
  /*Ajustadoelpaddingparadispositivosmóviles*/
  width: 125%;
  /*Anchoreducidoparadispositivosmóviles*/
  max-width: 450px;
  text-align: center;
  border: 3px solid red;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.login-container h1 {
  font-size: 35px; /* Tamaño de fuente reducido para dispositivos móviles */
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 3px solid red;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.seleccionar {
  font-size: 20px;
  color: white;
}

.selector {
  font-size: 40px;
  color: black;
  background-color: white;
}

.pa {
  border: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-size: 30px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-top: 20px; /* Ajustado el margen */
}

.boton2 {
  font-size: 25px; /* Tamaño de fuente reducido para dispositivos móviles */
  background-color: white;
  border: 2px solid red;
  color: black;
  margin-top: 20px; /* Ajustado el margen */
}
