body {
  background-color: #154360;
  margin: 0;
  padding: 0%;
}

.papeleria {
  text-align: center;
  background-color: aliceblue;
  color: black;
}

.papeleria2 {
  text-align: center;
  background-color: yellow;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

/* Boton productos */
/* Estilos para el botón y el menú desplegable */
/* Estilos para el botón y el menú desplegable */
/* Estilos para el botón y el menú desplegable */
.productos-desplegables {
  display: none;
  max-width: 900px;
  position: fixed;
  background-color: black;
  padding: 20px; /* Ajusta el valor para el espacio interno */
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.enlaces-importantes button {
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  position: fixed;
  width: 150px; /* Ajusta el ancho del botón */
  height: 45px;
  margin-top: -60px; /* Ajusta la posición vertical */
  font-size: 30px;
}

.enlaces-importantes button:hover {
  text-decoration: underline;
}

.enlaces-importantes a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 5px 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.enlaces-importantes a:hover {
  text-decoration: underline;
  padding: 10px; /* Ajusta el valor para el espacio interno */
  font-size: 22px; /* Ajusta el tamaño de fuente */
}

.secpro {
  text-align: center;
  color: black;
  background-color: aliceblue;
}

.produdes {
  font-size: 20px;
  margin-top: 20px; /* Ajusta el espacio entre enlaces */
}

/* Seccion de contacto lo ultimo */
.seccion-contacto {
  margin: 0;
  padding: 0;
  margin-top: 980px;
  background-color: black;
  color: white;
  padding: 30px;
}

.contacto-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.enlaces-importantes a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.enlaces-importantes a:hover {
  text-decoration: underline;
}
.seccion {
  text-align: center;
}

/* BOTON WHASAPP */
.whatsapp-btn {
  position: fixed;
  margin-top: 320px;
  top: 50%;
  /*Ajustalaposiciónvertical*/
  right: 0;
  /*Alinearaladerecha*/
  transform: translate(0, -50%);
  /*Centrarverticalmente*/
  z-index: 9999;
  /* Asegurar que esté en la parte superior */
  font-size: 50px;
}
